  <h1>게시판입니다.</h1>
        <hr>
        <a href="/">HOME</a>
        <form action="/posts/create">
            title: <input type="text" name="title">
            content: <input type="text" name="body">
            <input type="submit">
        </form>
